
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #fff;
  background-color: #734832;
}

.home {
  height: 100vh;
  position: relative;
  text-align: center;
  animation: zoomLoop 12s ease-in-out infinite;
  background-size: 100%;
  background-Image: url('/shutterstock_1061574436 1 (1).png');
  background-Position: center;
  background-Size: cover;
  background-Repeat: no-repeat;
 
}

@keyframes zoomLoop {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  position: relative;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-left a, .nav-right button {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  font-size: 13px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.nav-left a:hover,
.nav-right button:hover {
 color: #FF7F50; 
} 

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-img {
  height: 90px;
}
.search-btn {
  
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.2s ease;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search-btn:hover {
  transform: scale(1.1);
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  padding: 0.5rem 0.5rem;
  z-index: 99;
}

.dropdown-content a {
  display: block;
  color:#000;
  margin: 1rem 0;
  
}

.dropdown:hover .dropdown-content {
  display: block;

}


.home h1 {
  font-size: 8rem;
  margin-top: 6rem;
  padding-top: 6rem;

  
}

.home h1 span {
  color: #FF7F50;
}
.arrow{
  margin-top: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.scroll-arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  animation: bounce 2s infinite;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

@keyframes bounce {
  0%, 100% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, -10px); }
}

.section_1 {
  background-image: url('./shutterstock_1054410035 2 (1).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #5D230F;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  min-height: 80vh
}


.section_1 h2 {
  text-Transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #FFECA9, #FFBB70, #ED9455);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

 }

.section_1 p {
  max-width: 700px;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
}

.section_2 {
  background-color: #FFE1D6;
  color: #fff;
  min-height: 80vh;
  background-image: url('./A3 1.png');
  background-position: center;       
  background-repeat: no-repeat;
  display: flex;
  align-Items: center;
  justify-Content: space-between ;
  padding: 60px 80px ;
  position: relative;
  min-Height: "100vh";
  background-Size: cover;
  
}
.section2-text{
z-Index: 1; 
max-Width: 50%;
}

.section_2 h4{
  text-Transform: uppercase;
  opacity: 0.7;
}

.section_2 h1{
  font-Size: 64px;
  color: #ED9455;
  letter-Spacing: 15px;
}

.section_2 P{
  line-Height: 1.8;
  font-Size: 16px;
   margin: 20px 0;
   text-Align: left; 
}

.section_2 a{
  text-Transform: uppercase;
  color: #FFBB70;
  font-Weight: bold;
  letter-Spacing: 1px;
  text-Decoration: none;
  font-Size: 14px;
}

.underline{
  text-decoration: underline;
}

.section_3 {
  background-image: url('./shutterstock_1755911966.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: 734832 ;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  min-height: 80vh;
  background-color:#FFE1D6;
}

.section_3 h2{
  text-transform: uppercase;

}

.section_4 {
  background-image: url('./gettyimages-510844956-170667a.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  min-height: 80vh;
}

.section_5 {
  background-image: url('./image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFFFFF ;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  min-height: 80vh;
  
}

.section_6{
  background-image: url('./derek-story-1Pzhr6XPl6k-unsplash (1).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-color: #734832 ;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  min-height: 80vh;
  
}

.section_6 h4{
text-transform: uppercase;
opacity: 0.7;
}

.section_6 h1{
  font-size: 64px;
  color: #ED9455;
  letter-spacing: 15px;
}

.section_7{
  background-image: url('./Screenshot 2025-01-29 at 12.58.16 PM (1).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #734832 ;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  min-height: 80vh;
  
}
.section_7 h1{
  font-size: 64px;
   color: #ED9455;
    letter-spacing: 15px ;
}

.footer {
  background-color: #FFFFFF;
  padding: 40px 20px;
  min-height: 40vh;
}



